.post_author {
  display: flex;

  p {
    margin-left: 20px;
  }
}

.post {
  border: 2px solid gray;
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 .6rem 1rem #00000080;
}

.posts_area {
  color: antiquewhite;
}

.post_text {
  margin: 20px 0;
  border-radius: 10px;
  resize: none;
  width: 100%;
  font-size: 20px;
  max-height: 140px;
  padding: 4px 14px;
}

.profile_photo {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.post_photo {
  max-width: 100%;
  max-height: 600px;

}


.like_icon {
  font-size: 24px;
  cursor: pointer;
  transition: .3s;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    color: #ffffff;
  }
}

.likes_count {
  font-size: 24px;
  margin:  0 0 0 10px;
  user-select: none;
}

.like_active {
  color: red;
}

.post_info_wrapper {
  display: flex;
  justify-content: space-between;
}
.likes_wrapper {
  display: flex;
}