.post_author {
  display: flex;
  p {
    margin-left: 20px;
  }
}
.post_heading {
  display: flex;
  justify-content: space-between;

}

.post {
  border: 2px solid gray;
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 .6rem 1rem #00000080;
  position: relative;
}

.posts_area {
  color: antiquewhite;
}

.post_text {
  margin: 20px 0;
  border-radius: 10px;
  resize: none;
  width: 100%;
  font-size: 20px;
  max-height: 140px;
  padding: 4px 14px;
}

.profile_photo {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.post_photo {
  max-width: 100%;
  max-height: 600px;

}


.like_icon {
  font-size: 24px;
  cursor: pointer;
  transition: .3s;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    color: #ffffff;
  }
}

.likes_count {
  font-size: 24px;
  margin:  0 0 0 10px;
  user-select: none;
}

.like_active {
  color: red;
}

.post_info_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 14px 0 0 0;
}
.likes_wrapper {
  display: flex;
}

.post_menu_button {
  transition: .3s;
  font-size: 20px;
  background: none;
  color: rgb(250, 235, 215);
  margin: 0 10px;
}

.post_menu_button_edit {
  &:hover {
    transform: scale(1.2);
    color: #68ff97;
  }
}

.post_menu_button_delete {
  &:hover {
    transform: scale(1.2);
    color: red;
  }
}

.invisible {
  display: none;
}

.delete_text {
  background: none;
  font-size: 20px;
  padding: 0 10px;
  transition: .3s;
}
.delete_confirm {
  color: #68ff97;
  &:hover {
    transform: scale(1.2);
  }
}

.delete_cancel {
  color: red;
  &:hover {
    transform: scale(1.2);
  }
}

.delete_buttons {
  width: 74px;
  margin: 7px auto 0;
}

.delete_post_text {
  text-align: center;
}