// profile

.profile_picture {
  position: relative;
  width: 100%;
  max-width:1200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.profile_background {
  position: relative;
  overflow: hidden;
  margin: 0 0 20px 0;
  padding: 0 0 260px 0;

  img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-position: center;
    object-fit: cover;
    position: absolute;
  }
}
.profile_name {
  bottom: 20px;
  left: 20px;
  position: absolute;
  color: aliceblue;
  font-weight: 500;
  font-size: 30px;
}

.profile_info {
  box-shadow: 0 1rem 1rem #00000080;
  background-color: rgba(141, 139, 139, 0.63);
  margin: 30px auto;
  max-width: 1000px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
}

.profile_info_text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.profile {
  padding: 15px;
}
