//Header

.header_background {
  background-color: #61dafb;
  background-size: cover;
  border-bottom: 5px solid rgba(113, 109, 109, 0.74);
  width: 100%;
  z-index: 1111;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav_parental {
  position: relative;
}

.show_clicked {
  display: flex;
}

.logout_button {
  margin: auto;
  width: 100%;
  max-width: 100px;

  button, a {
    padding: 2px 8px 4px;
    border-radius: 12px;
    background-color: rgb(135, 116, 225);
    font-size: 20px;
    color: #fff;
    transition: .3s;

    &:hover {
      background-color: #bc79fd;
    }
  }

}

.show_menu_button {
  display: none;
  max-width: 70px;
  text-align: center;
 margin: 0;
}

@media (max-width: 550px) {
  .header_background {
    position: fixed;
    top: 0;
    border: none;

  }
  .show_clicked {
    display: none !important;
  }
  .show_menu_button {
    display: block;

  }
  .header_nav {
    display: block;
    position: fixed;
    background: #61dafb;
    width: 100%;
    top: 17px;
    left: 0;
    animation-duration: .5s;
    animation-name: slidein;
    z-index: 1;
  }

  .logout_button {
    margin: 0 auto 10px;
    padding: 0 0 0 12px;
  }
}

@keyframes slidein {
  from {
    top: -300px;
    }

  to {
   top: 0;
  }
}

