//Header

.header_background {
  background-color: #61dafb;
  background-size: cover;
  border-bottom: 5px solid rgba(113, 109, 109, 0.74);
  width: 100%;
}

.header_logo {
  max-height: 50px;
  max-width: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header_nav {
  display: flex;
  justify-content: space-between;
}
