// post

.creating_post {
  max-width: 1000px;
  margin: 0 auto 20px;

}

.my_posts_heading {
  font-size: 26px;
  color: antiquewhite;
  text-align: center;
  margin-bottom: 20px;
}

.post_text {
  margin: 0 0 -2px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  resize: none;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  min-height: 140px;
  font-size: 20px;
  max-height: 140px;
  padding: 4px 14px;

}

.create_post_button {
  width: 100%;
  padding: 4px 6px;
  font-size: 20px;
  background-color: rgb(97, 218, 251);
  transition: .3s;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  &:hover {
    background-color: rgb(135, 116, 225);
    color: rgb(104, 255, 151);
  }
}


.drag_test {
  border: red solid 2px;
}

.photo_input {
  display: block;
}

.drag_drop_block {
  background: rgba(128, 127, 127, 0.37);
  padding: 30px 15px;
  cursor: pointer;
  p {
    user-select: none;
    font-size: 20px;
    text-align: center;
    color: rgb(128, 127, 127);
    transition: .3s;
  }
  &:hover {
    p{
      color: #ffffff;
    }
  }
}

.drag_drop_true {
  background: rgba(255, 255, 255, 0.37) !important;
  border: dashed 2px #ffffff;
  p {
    color: #ffffff;
  }
}

.remove_photo_icon {
  color: rgb(97, 218, 251);
  font-size: 20px;
  transition: .3s;
  cursor: pointer;
  margin: 4px 0 0 10px;
  &:hover {
    color: rgb(135, 116, 225);
  }
}

.post_photo {
  border: solid 2px #ffffff;
  padding: 4px 10px;
  max-width: 284px;
  display: flex;
  margin: 4px 0;
  p{
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
  }
}

.invisible {
  display: none !important;
}

.inline {
  display: inline-block;
}

