// dialogs
.dialog {
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
}

.dialog_wrapper {
  width: 100%;
  max-width: 200px;


  &:hover {
    cursor:pointer;
    background-color: #696868;
  }
}

.active {
  .dialog {
    background-color: rgb(97, 218, 251);
  }
}

.dialog_name {
  color: #fff;
  text-decoration: none;
}

.dialogs_list {
  max-width: 200px;
  width: 100%;
  border-right: solid 2px gray;
}
