// navbar

.header_links_block {
  margin: 16px auto;
  ul {
    display: flex;
    justify-content: space-around;
    li {
      text-align: center;

      a {
        text-decoration: none;
        color: black;
        transition: .3s;

        &:hover {
          color: rgb(255, 105, 0);
        }
      }

    }
  }

}


 .active {
   p {
     color: rgb(255, 105, 0);
   }
 }

