// navbar

.header_links_block {
  ul {
    display: flex;
    justify-content: space-around;
    li {
      margin: 15px 0 0 0;

      a {
        text-decoration: none;
        color: black;
        transition: .3s;

        &:hover {
          color: rgb(255, 105, 0);
        }
      }

    }
  }

}


 .active {
   p {
     color: rgb(255, 105, 0);
   }
 }

